# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5682129ce805fa63111bb6bc909ab6e81260a7c4908afc1d2a866e75f32e62c9107a436ff64a44b1cac72273a0f6e9e339403055e1ce1de16070c2d675712aea

test:
  secret_key_base: ea0296a804c5a6e4186e056e6973953637946bcd98bb58e0ecb5980a9c9ad746e908ab9ffd2f47e59bf63a1ed7dd4c91520399277007660669c61328a77977f9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
